<html>

<head>
<title>Membership Plans</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
    <script language="JavaScript">
        function showform(dowhat) {
            if(dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
            }
            else {
                document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
            }
        }
        function newPlan() { showform('insert'); }
        function browsePlan() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
</head>

<body onload="browseParticipants()">
<h1>Class Participants</h1>    
[ <a href="/">Home</a> |
<a href="members">Members</a> |
<a href="instructors">Instructors</a> |
<a href="gyms">Gyms</a> |
<a href="plans">Membership Plans</a> |
<a href="classes">Classes</a> | 
<a href="class_participants">Class Participants</a>]

<div id="browse">
    <p><a href="#" onClick="newParticipants()"><strong>Add New Class Participant</strong></a> </p>
    <strong>Browse Class Participants</strong>
    <table border="1" cellpadding="4">
        {% if data %}
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>    

            <tbody>
            {% for item in data %}
                <tr>
                    {% for key in item.keys() %}
                        <td> {{ item[key] }} </td>
                    {% endfor %}
                    <td><a href="delete_plan/{{item.member_class_id}}" class="btn btn-default">Delete</a></td>
                </tr>
            {% endfor %}

        {% endif %}
    </table>
    <p>&nbsp;</p>
</div> <!--browse-->

<div id="insert">
    <form method="POST" action="/plans" id="addPlan">
        <legend><strong>Add Class Participant</strong></legend>
            <fieldset class="fields">
                <label>Member ID</label> 
                    <input type="decimal" name="monthly_fee" id="monthly_fee" required>
                <label>Workout Class ID</label> 
                    <select name="weight_cardio" id="weight_cardio" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
            </fieldset>
            <input class="btn" type="submit" name="addPlan" value="Add Plan">
            <input class="btn" type="submit" value="cancel" onClick="browsePlan()">
    </form>
</div> <!-- insert-->

</body>

</html>