<html>

<head>
<title>Class Participants</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script language="JavaScript">
        function showform(dowhat) {
            if(dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
            }
            else {
                document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
            }
        }
        function newParticipants() { showform('insert'); }
        function browseParticipants() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
</head>

<body onload="browseParticipants()">
<h1>Class Participants</h1>    
[ <a href="/">Home</a> |
<a href="members">Members</a> |
<a href="instructors">Instructors</a> |
<a href="gyms">Gyms</a> |
<a href="plans">Membership Plans</a> |
<a href="classes">Classes</a> | 
<a href="class_participants">Class Participants</a>]
<p></p>

<div id="browse">
    <p><a href="#" onClick="newParticipants()"><strong>Add New Class Participant</strong></a> </p>
    <strong>Browse Class Participants</strong>
    <table cellpadding="4">
        {% if data %}
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>    

            <tbody>
            {% for item in data %}
                <tr>
                    {% for key in item.keys() %}
                        <td> {{ item[key] }} </td>
                    {% endfor %}
                    <td><a href="edit_class_participants/{{item.Class_Participant_ID}}" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><a href="delete_class_participants/{{item.Class_Participant_ID}}" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}

        {% endif %}
    </table>
    <p>&nbsp;</p>
</div> <!--browse-->

<div id="insert">
    <form method="POST" action="/class_participants" id="addParticipants">
        <legend><strong>Add Class Participant</strong></legend>
            <fieldset class="fields">
                <label>Member</label> 
                <select name="member_id" id="member_id" required>
                {% for member in members %}
                        <option value="{{member['member_id']}}"> {{member['Name']}} </option>
                {% endfor %}
                    </select>
                    <p></p>
                <label>Workout Class</label> 
                <select name="class_id" id="class_id" required>
                {% for class in classes %}
                      <option value="{{class['class_id']}}"> {{class['Class']}} </option>
                    
                {% endfor %}
                </select>
            </fieldset>
            <input class="btn" type="submit" name="addParticipants" value="Add Participants">
            <input class="btn" type="submit" value="cancel" onClick="browseParticipants()">
    </form>
</div> <!-- insert-->

</body>

</html>