<!--Citation for edi gym page-->
<!--Date: 3/15/2023-->
<!--This page is adapted from the CS 340 flask starter app-->
<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app--> 

<html>

<head>
	<title>Edit Gym</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<!-- table populated with gym's existing data -->
<body> 
    <div> 
        <table border="1 cellpadding="4">
            <caption> <strong>Editing Gym: </strong> </caption>
            <!-- access data passed from app.py-->
            {% if data %}
                <thead>
                    <!-- iterate through data for the headers -->
                    <tr>
                        {% for key in data[0].keys() %}
                        <th> {{ key }} </th>
                        {% endfor %}
                    </tr>

                <tbody>
                <!-- for every item, iterate through every key to populate table with data -->
                {% for item in data %}
                    <tr>
                    {% for key in item.keys() %}
                        <td> {{ item[key] }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

    <p>&nbsp;</p>

    <!-- form to edit gym that is prepolated with old values -->
    <div id="edit">
    <form method="POST" action="/edit_gym/{{data[0].Gym_ID}}" id="editGym">
        <legend><strong>Edit Gym {{data[0].Gym_ID}}</strong></legend>
            <fieldset class="fields">

                <input type="hidden" value="{{data[0].Gym_ID}}" id="gym_id" name="gym_id">
                <label>Gym Address:</label> 
                    <input type="text" name="gym_address" id="gym_address" value="{{data[0].Address}}" required>
                    <p></p>
                <label>Opening Time:</label> 
                    <input type="time" name="opening_time" id="opening_time" value='{{data[0].OPENS}}' required>
                    <p></p>
                <label>Closing Time:</label> 
                    <input type="time" name="closing_time" id="closing_time" value="{{data[0].CLOSES}}" required>
                <p></p>
            </fieldset>
            <!--buttons to submit or cancel form-->
            <input class="btn" type="submit" name="Edit_Gym" value="Edit Gym">
            <a href='/gyms'><input class="btn" type="button" value="cancel"></a>
    </form>
</div> <!-- insert-->
</body>














</html>