<html>

<head>
	<title>Edit Membership Plan</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body> 
    <div> 
        <table border="1 cellpadding="4">
            <caption> <strong>Editing Plan: </strong> </caption>

            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th> {{ key }} </th>
                        {% endfor %}
                    </tr>

                <tbody>
                {% for item in data %}
                    <tr>
                    {% for key in item.keys() %}
                        <td> {{ item[key] }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

    <p>&nbsp;</p>
    <div id="edit">
    <form method="POST" action="/edit_plan/{{ data[0].plan_id }}" id="editPlan">
        <legend><strong>Edit Plan</strong></legend>
                        <fieldset class="fields">
                <label>Monthly Fee</label> 
                    <input type="decimal" name="monthly_fee" id="monthly_fee" value="{{data[0].monthly_fee}}"required>
                <label>Weights/Cardio</label> 
                    <select name="weight_cardio" id="weight_cardio" value="{{data[0].weight_cardio}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                <label>Spa Room</label> 
                    <select name="spa_room" id="spa_room" value="{{data[0].spa_room}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                <p></p>
                <label>Lap Pool</label>
                    <select name="lap_pool" id="lap_pool" value="{{data[0].lap_pool}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                <label>Ball Court</label> 
                    <select name="ballcourt" id="ballcourt" value="{{data[0].ballcourt}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
            </fieldset>
            <input class="btn" type="submit" name="Edit_Plan" value="Edit Plan">
            <a href='/plans'><input class="btn" type="button" value="cancel"></a
    </form>
</div> <!-- insert-->
</body>














</html>