<html>

<head>
	<title>Edit Member</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body> 
    <div> 
        <table border="1 cellpadding="4">
            <caption> <strong>Editing Member: </strong> </caption>

            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th> {{key}} </th>
                        {% endfor %}
                    </tr>

                <tbody>
                {% for item in data %}
                    <tr>
                    {% for key in item.keys() %}
                        <td> {{item[key]}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

    <p>&nbsp;</p>
    <div id="edit">
    <form method="POST" action="/edit_member/{{data[0].Member_ID}}" id="editMember">
        <legend><strong>Edit Member</strong></legend>
            <fieldset class="fields">
                <label>First Name:</label> 
                    <input type="text" name="f_name" id="f_name" value="{{data[0].First_Name}}" required>
                <label>Last Name:</label> 
                    <input type="text" name="l_name" id="l_name" value="{{data[0].Last_Name}}" required>
                <label>Address</label> 
                    <input type="text" name="address" id="address" value="{{data[0].Address}}" style="width: 500px;" required>
                <p></p>
                <label>Birthday</label> 
                    <input type="date" name="birthday" id="birthday" value="{{data[0].Birthday}}" required>
                <label>Membership Plan</label> 
                    <select name="plan_id" id="plan_id" required>
                        <!-- Access our plans tuple passed from app.py -->
                        {% for plan in plans %}
                            {% if plan["plan_id"] == data[0].Membership_Plan_ID %}
                                <option value ="{{plan["plan_id"]}}" selected> {{plan['plan_id']}}</option>
                            {% else %}
                                <option value="{{plan['plan_id']}}"> {{plan['plan_id']}} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                <label>Gym</label> 
                <select name="gym_id" id="gym_id">
                    {% for gym in gyms %}
                        {% if gym["gym_id"] == data[0].Gym_ID %}
                            <option value ="{{gym["gym_id"]}}" selected> {{gym['gym_id']}}</option>
                        {% else %}
                            <option value="{{gym['gym_id']}}"> {{gym['gym_id']}} </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </fieldset>
            <input class="btn" type="submit" name="Edit_Member" value="Edit Member">
            <a href='/members'><input class="btn" type="button" value="cancel"></a
    </form>
</div> <!-- insert-->
</body>














</html>