<html>

<head>
	<title>Edit Membership Plan</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body> 
    <div> 
        <table border="1 cellpadding="4">
            <caption> <strong>Editing Plan: </strong> </caption>

            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th> {{ key }} </th>
                        {% endfor %}
                    </tr>

                <tbody>
                {% for item in data %}
                    <tr>
                    {% for key in item.keys() %}
                        <td> {{ item[key] }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

    <p>&nbsp;</p>
    <div id="edit">
    <form method="POST" action="/edit_plan/{{ data[0].Membership_Plan_ID }}" id="edit_Plan">
        <legend><strong>Edit Plan</strong></legend>
                        <fieldset class="fields">
                <label>Plan ID: {{data[0].Membership_Plan_ID}}</label>
                    <input type="hidden" value="{{data[0].Membership_Plan_ID}}" id="Membership_Plan_ID" name = "Membership_Plan_ID">
                <label>Monthly Fee</label> 
                    <input type="decimal" name="Monthly_Fee" id="Monthly_Fee" value="{{data[0].Monthly_Fee}}" required>
                <label>Weights/Cardio</label> 
                    <select name="Weights_Cardio" id="Weights_Cardio" value="{{data[0].Weights_Cardio}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                <label>Spa Room</label> 
                    <select name="Spa_Room" id="Spa_Room" value="{{data[0].Spa_Room}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                <p></p>
                <label>Lap Pool</label>
                    <select name="Lap_Pool" id="Lap_Pool" value="{{data[0].Lap_Pool}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                <label>Ball Court</label> 
                    <select name="Ballcourt" id="Ballcourt" value="{{data[0].Ballcourt}}" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
            </fieldset>
            <input class="btn" type="submit" name="edit_Plan" value="Edit Plan">
            <a href='/plans'><input class="btn" type="button" value="cancel"></a
    </form>
</div> <!-- insert-->
</body>














</html>