<!--Citation for home page-->
<!--Date: 3/15/2023-->
<!--This page is adapted from the CS 340 flask starter app-->
<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app--> 

<html>

<head>
    <title> Jimbo's Gym </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--link to change pages-->
    <h1> Jimbo's Gym </h1>
    [ <a href="/">Home</a> |
    <a href="members">Members</a> |
    <a href="instructors">Instructors</a> |
    <a href="gyms">Gyms</a> |
    <a href="plans">Membership Plans</a> |
    <a href="classes">Classes</a> | 
    <a href="class_participants">Class Participants</a>]

    <ul>
        <li>Members - Personal/Contact information for gym members</li>
        <li>Instructors - Personal/Contact information for class instructors</li>
        <li>Gyms - Gym address information</li>
        <li>Membership Plans - Amenity information for each membership level</li>
        <li>Workout Classes - List of classes currently offered by all gyms</li>
    </ul> 

</body>
</html>