<!--Citation for members page-->
<!--Date: 3/15/2023-->
<!--All code is based on the CS 3409  flask starter app-->
<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app--> 

<html>

<head>
<title>Members</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- determines what shows up on the page-->
    <script language="JavaScript">
        function showform(dowhat) {
            if(dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
            }
            else {
                document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
            }
        }
        function newMember() { showform('insert'); }  
        function browseMember() { showform ('browse'); }
        
    </script>
</head>

<!-- show members when the page loads-->
<body onload="browseMember()">

<!--link to change pages-->
<h1>Members</h1>    
[ <a href="/">Home</a> |
<a href="members">Members</a> |
<a href="instructors">Instructors</a> |
<a href="gyms">Gyms</a> |
<a href="plans">Membership Plans</a> |
<a href="classes">Classes</a> | 
<a href="class_participants">Class Participants</a>]
<p></p>


<div id="browse">
    <p><a href="#" onClick="newMember()"><strong>Add New Member</strong></a></p>
    <strong>Browse Members</strong>
    <!-- table for browsing all members -->
    <table cellpadding="4">
        <!-- access data passed from app.py-->
        {% if data %}
            <thead>
            <!-- iterate through data for the headers -->
            <tr>
                {% for key in data[0].keys() %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>    

            <tbody>
            <!-- for every item, iterate through every key to populate table with data -->
            {% for item in data %}
            <tr>
                {% for key in item.keys() %}
                    <td> {{item[key]}} </td>
                {% endfor %}
                    <!-- a link routes to editing and deleting member -->
                    <td><a href="edit_member/{{item.Member_ID}}" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
		    		<td><a href="delete_member/{{item.Member_ID}}" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor%}
        {% endif %}
    </table>
    <p>&nbsp;</p>
</div> <!--browse-->

<!-- form for inserting new member -->
<div id="insert">
    <form method="POST" action="/members" id="addMember">
        <legend><strong>Add Member</strong></legend>
            <fieldset class="fields">
                <label>First Name</label> 
                    <input type="text" name="f_name" id="f_name" required>
                    <p></p>
                <label>Last Name</label> 
                    <input type="text" name="l_name" id="l_name" required>
                    <p></p>
                <label>Address</label> 
                    <input type="text" name="address" id="address" style="width: 500px;" required>
                <p></p>
                <label>Birthday</label> <input type="date" name="birthday" id="birthday" required>
                <p></p>
                <label>Membership Plan</label> 
                    <select name="plan_id" id="plan_id" required>
                        <!-- Access our plans tuple passed from app.py -->
                        {% for plan in plans %}
                            <option value="{{plan['plan_id']}}"> {{plan['plan_id']}} </option>
                        {% endfor %}
                    </select>
                <p></p>
                <label>Gym</label> 
                <select name="gym_id" id="gym_id">
                    <option value="0">&nbsp;</option>
                    <!-- Access our gyms tuple passed from app.py -->
                    {% for gym in gyms %}
                        <option value="{{gym['gym_id']}}"> {{gym['gym_id']}} </option>
                    {% endfor %}
                </select>
            </fieldset>
            <!--buttons to submit or cancel form-->
            <input class="btn" type="submit" name="addMember" value="Add Member">
            <input class="btn" type="submit" value="cancel" onClick="browseMember()">
    </form>
</div> <!-- insert-->

</body>

</html>