<html>

<head>
<title>Membership Plans</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script language="JavaScript">
        function showform(dowhat) {
            if(dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
            }
            else {
                document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
            }
        }
        function newPlan() { showform('insert'); }
        function browsePlan() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
</head>

<body onload="browsePlan()">
<h1>Membership Plans</h1>    
[ <a href="/">Home</a> |
<a href="members">Members</a> |
<a href="instructors">Instructors</a> |
<a href="gyms">Gyms</a> |
<a href="plans">Membership Plans</a> |
<a href="classes">Classes</a> | 
<a href="class_participants">Class Participants</a>]
<p></p>

<div id="browse">
    <p><a href="#" onClick="newPlan()"><strong>Add New Membership Plan</strong></a> </p>
    <strong>Browse Membership Plans</strong>
    <table cellpadding="4">
        {% if data %}
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>    

            <tbody>
            {% for item in data %}
                <tr>
                    {% for key in item.keys() %}
                        <td> {{ item[key] }} </td>
                    {% endfor %}
                    <td><a href="edit_plan/{{item.Membership_Plan_ID}}" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><a href="delete_plan/{{item.Membership_Plan_ID}}" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}

        {% endif %}
    </table>
    <p>&nbsp;</p>
</div> <!--browse-->

<div id="insert">
    <form method="POST" action="/plans" id="addPlan">
        <legend><strong>Add Membership Plan</strong></legend>
            <fieldset class="fields">
                <label>Monthly Fee</label> 
                    <input type="decimal" name="monthly_fee" id="monthly_fee" required>
                    <p></p>
                <label>Weights/Cardio</label> 
                    <select name="weight_cardio" id="weight_cardio" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                    <p></p>
                <label>Spa Room</label> 
                    <select name="spa_room" id="spa_room" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                <p></p>
                <label>Lap Pool</label>
                    <select name="lap_pool" id="lap_pool" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
                    <p></p>
                <label>Ball Court</label> 
                    <select name="ballcourt" id="ballcourt" required>
                        <option value=0> 0 </option>
                        <option value=1> 1 </option>
                    </select>
            </fieldset>
            <input class="btn" type="submit" name="addPlan" value="Add Plan">
            <input class="btn" type="submit" value="cancel" onClick="browsePlan()">
    </form>
</div> <!-- insert-->

</body>

</html>